<style>
    body{
    background-color: #F5F5F5;
    }
    .lu-nav {
    border:solid 1px red;
    height:50px;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-color: #F0F0F0;
    color: #888888;
    }
</style>
<link rel="stylesheet" href="/static/css/jquery.fileupload-ui.css">
<script src="/static/js/jquery.ui.widget.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script src="/static/js/jquery.imgreview.js"></script>
<header class="lu-nav">
</header>
<div style="margin:10px auto;width:900px;">
    <h1>图片编辑</h1>
    <div class="set_profile" style="margin-top:30px;border:1px solid gray;height:60px">
        <div class="title" style="">
            <div style="margin-top:20px;width:100px"><span style="font-size: 18px;">描述</span></div>
            <div class="preview" style="opacity:1;float: left; margin-top: -22px; margin-left: 200px;">

            </div>
        </div>

    </div>

    <div class="set_profile" style="margin-top:30px;border:1px solid gray;height:60px">
        <div class="title" style="">
            <div style="margin-top:20px;width:100px"><span style="font-size: 18px;">分类</span></div>
            <div class="preview" style="opacity:1;float: left; margin-top: -35px; margin-left: 200px;">

            </div>
        </div>
    </div>

    <div class="set_profile" style="margin-top:30px;border:1px solid gray;height:60px">
        <div class="title" style="">
            <div style="margin-top:20px;width:100px"><span style="font-size: 18px;">删除</span></div>
            <div class="preview" style="opacity:1;float: left; margin-top: -22px; margin-left: 200px;"></div>
        </div>

    </div>

</div>