$def with (pins,presentuser,board_name,id,last_pin_key,pins_length)
<style>
    #header {
        background-color: #EFEFEF;
        padding: 7px;
        margin-bottom: 10px;
        padding-left: 20px;
    }
    .pin {
        margin-bottom: 20px;
        border: 1px solid;
        border-color: #cccccc;
        padding: 10px;
        text-align: center;
    }
    #down_menu_1 li {

        float: left;
        padding-left: 30px
    }
</style>
<link rel="stylesheet" href="/static/css/jquery.fileupload-ui.css">
<script src="/static/js/jquery.ui.widget.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<div id="header">
    <button class="btn ">
        所在板块：$:board_name
    </button>
    <a href="/skipusermessage">
        <button class="btn ">
            <i class="icon-user"></i>
            $presentuser['user']['username']
            <span class="caret"></span>
        </button>
    </a>
    <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="icon-align-justify"  ></i>
            <span class="caret"></span>
        </button>
         <ul id="down_menu_1" class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="width:520px">
			                <li><a tabindex="1" href="/controlskip/1">校外教育</a></li>
                            <li><a tabindex="2" href="/controlskip/2">远程办公</a></li>
                            <li><a tabindex="3" href="/controlskip/3">智慧之门</a></li>
                            <li><a tabindex="4" href="/controlskip/4">美容美体</a></li>
                            <li><a tabindex="5" href="/controlskip/5">情感天地</a></li>
                            <li><a tabindex="6" href="/controlskip/6">健康管理</a></li>
                            <li><a tabindex="7" href="/controlskip/7">娱乐人生</a></li>
                            <li><a tabindex="8" href="/controlskip/8">家政辅导</a></li>
                            <li><a tabindex="9" href="/controlskip/9">购物天堂</a></li>
                            <li><a tabindex="10" href="/controlskip/10">职业生涯</a></li>
                            <li><a tabindex="11" href="/controlskip/11">社区服务</a></li>
                            <li><a tabindex="12" href="/controlskip/12">公共信息</a></li>
		</ul>
    </div>

    <div style="float:left;" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <button class="btn btn-info"><i style="height:20px" class="icon-plus"></i></button>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li>
                <a href="#add_new" data-toggle="modal" data-target="#add_new"><span onclick="defaultboard()">上传素材</span></a>
                <a href="#add_new_vedio" data-toggle="modal" data-target="#add_new_vedio"><span onclick="defaultboard()">上传视频</span></a>
            </li>
        </ul>
        <div id="add_new" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>新建素材</h3>
            </div>
            <form id="upload_pin" action="" enctype="multipart/form-data" method="POST">
                <div class="modal-body">
                    <div style="padding-bottom: 20px;">

                        <input type="file" class="input" id="upload_pic" name="upload_pic"/>
                    </div>
                    <div style="padding-bottom: 20px;" id="id_file_name">

                    </div>
                    <!-- 进度条 -->
                    <div id="progress_pic" class="progress progress-striped active">
                        <div class="bar"></div>
                    </div>
                    <textarea rows="0" style="width: 420px" id="introduction_pic" name="introduction"></textarea>
                    <select name="board_id" id="pin_board_id">
                        <option>校外教育</option>
                        <option>远程办公</option>
                        <option>智慧之门</option>
                        <option>美容美体</option>
                        <option>情感天地</option>
                        <option>健康管理</option>
                        <option>娱乐人生</option>
                        <option>家政辅导</option>
                        <option>购物天堂</option>
                        <option>职业生涯</option>
                        <option>社区服务</option>
                        <option>公共信息</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">关闭</a>
                    <button id="submitdata" type="button" class="btn btn-primary">创建</button>
                </div>
            </form>
        </div>
        <div id="add_new_vedio" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>上传视频</h3>
            </div>
            <form id="uploadvedio" action="/video/upload" enctype="multipart/form-data" method="POST">
                <div class="modal-body">
                    <div style="padding-bottom: 20px;">
                        <input type="file" class="input" id="upload_vedio" name="upload_video"style="width:180px"/>
                        <span><font color="red" size="2px">**视频支持flv/mp4格式！</font></span>
                    </div>
                     <div style="padding-bottom: 20px;" id="id_vedio_name">
                    </div>
                    <!-- 进度条 -->
                    <div id="progress_vedio" class="progress progress-striped active">
                        <div class="bar"></div>
                    </div>
                    <textarea rows="0" style="width: 420px" name="introduction" id="introduction_vedio"></textarea>
                    <select name="board_id" id="vedio_board_id">
                        <option>校外教育</option>
                        <option>远程办公</option>
                        <option>智慧之门</option>
                        <option>美容美体</option>
                        <option>情感天地</option>
                        <option>健康管理</option>
                        <option>娱乐人生</option>
                        <option>家政辅导</option>
                        <option>购物天堂</option>
                        <option>职业生涯</option>
                        <option>社区服务</option>
                        <option>公共信息</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">关闭</a>
                    <button id="submitvedio" type="button" class="btn btn-primary">创建</button>
                </div>
            </form>
        </div>
    </div>
    <div style="float:right;margin-right:30px"><a href="javascript:history.go(-1);">
        <button class="btn btn-info">返回上一页</button>
    </a></div>
    <div style="float:right;margin-right:10px"><a href="/skipmainpage">
        <button class="btn btn-info">返回主页</button>
    </a></div>
    <div style="float: right; margin-top: -31px; margin-right: 324px;">
        <form action="/search/content" method="post" onsubmit="return check()">
            <input id="search_cont" style="width:500px" type="text" class="search-query" placeholder="搜索"
                   name="content_search">
            <button type="submit" class="btn btn-info" >搜索</button>
        </form>

    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3" id="col1">
            $for pin in pins[0]:
            $:pin
        </div>
        <div class="span3" id="col2">
            $for pin in pins[1]:
            $:pin
        </div>
        <div class="span3" id="col3">
            $for pin in pins[2]:
            $:pin
        </div>
        <div class="span3" id="col4">
            $for pin in pins[3]:
            $:pin
        </div>
    </div>
</div>
<script type="text/javascript">
function defaultboard(){
        var idx=$:id-1;
        $$("#pin_board_id option").eq(idx).attr("selected","selected");
        $$("#vedio_board_id option").eq(idx).attr("selected","selected");
        }
    $$(function () {
        var idx=$:id-1;
        $$("#pin_board_id option").eq(idx).attr("selected","selected");
        $$("#vedio_board_id option").eq(idx).attr("selected","selected");
        var flowLock = false;
        var last_pin_key ="$:last_pin_key";
        var pins_length="$:pins_length";
        function columnAccumulator() {
            var col1_h = 0, col2_h = 0, col3_h = 0, col4_h = 0;
            col1_h = parseInt($$("#col1").height());
            col2_h = parseInt($$("#col2").height());
            col3_h = parseInt($$("#col3").height());
            col4_h = parseInt($$("#col4").height());
            return [col1_h, col2_h, col3_h, col4_h];
        }
        function findMin(array) {
            var minID = 0, minVal = array[0];
            for (var i = 1; i < array.length; i++) {
                if (array[i] < minVal) {
                    minID = i;
                    minVal = array[i];
                }
            }
            return minID;
        }

                    $$(window).scroll(function () {

                        var clientHeight = $$(window).height(), scrollTop = $$(window).scrollTop(), scrollHeight = $$(document).height();


                                if (clientHeight + scrollTop >= scrollHeight) {
                                     if(pins_length==30)
                                          {
                                            $$.get("/pin_flow/" + $:id + "",{
                                                    last_pin_key:last_pin_key
                                                }, function (data,textStatus){
                                                        alert(data);
                                                        alert(textStatus);
                                                        alert(data[last_pin_key]);
                                                       eval("var json = " + data + ";");
                                                      // last_pin_key=json.last_pin_key;
                                                       // pins_length=json.pins_length;
                                                       alert(json[last_pin_key]);
                                                      // alert(json.pins_length);
                                                      //  for (var i = 0; i < json.pins.length; i++) {
                                                      //      size = columnAccumulator();
                                                      //      var column = findMin(size) + 1;
                                                   //         var jhtml = $$(json.pins[i]);
                                                      //      $$("#col" + column).append(jhtml);
                                                      //  }
                                                  }
                                            );
                                           }
                                }

                    });


    });
</script>
<script type="text/javascript">
function check(){
        var search_key = $$("#search_cont").val();
        if(search_key.length==0)
               {
                alert("请输入搜索内容");
                return false;
            }
    }
    $$(function () {
        //文件上传地址
        var url = '/pin/upload ';
        //初始化，主要是设置上传参数，以及事件处理方法(回调函数)
        $$('#upload_pic').fileupload({
            autoUpload: false,//是否自动上传
            url: url,//上传地址
            dataType: 'json',
            maxNumberOfFiles: 1,
            done: function (e, data) {//设置文件上传完毕事件的回调函数
                var board_index = $$("#pin_board_id").get(0).selectedIndex + 1;
                alert("上传成功！");

                window.location.href = "/controlskip/" + board_index + "";
            },
            fail: function (e, data) {
                if (data.jqXHR.status == 406) {
                    alert("仅支持上传MP4和FLV文件！");
                } else {
                    var board_index = $$("#pin_board_id").get(0).selectedIndex + 1;
                    alert("上传成功！");

                    window.location.href = "/controlskip/" + board_index + "";
                }
            },
            add: function (e, data) {
                $$("#id_file_name").html(data.files[0].name);
                $$("#submitdata").unbind("click");
                $$("#submitdata").click( function() {
                    var intro = $$("#introduction_pic");
                    var board = $$("#pin_board_id");
                    var textval = $$("#introduction_pic").val();
                    if (textval.length != 0) {
                        data.formData = {introduction: intro.val(), board_id: board.val()};
                        data.submit();//上传文件
                    }
                    else {
                        alert("请描述图片");
                        return false;
                    }
                });
            },
            progressall: function (e, data) {//设置上传进度事件的回调函数
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $$('#progress_pic .bar').css(
                        'width',
                        progress + '%'
                );
            }
        });
    });
     $$(function () {
        //文件上传地址
        var url = '/video/upload ';
        //初始化，主要是设置上传参数，以及事件处理方法(回调函数)
        $$('#upload_vedio').fileupload({
            autoUpload: false,//是否自动上传
            url: url,//上传地址
            dataType: 'json',
            maxNumberOfFiles: 1,
            done: function (e, data) {//设置文件上传完毕事件的回调函数
                var board_index = $$("#vedio_board_id").get(0).selectedIndex + 1;
                alert("上传成功！");
                window.location.href = "/controlskip/" + board_index + "";
            },
            fail: function (e, data) {
                if (data.jqXHR.status == 406) {
                    alert("仅支持上传MP4和FLV文件！");
                } else {
                    var board_index = $$("#vedio_board_id").get(0).selectedIndex + 1;
                    alert("上传成功！");
                    window.location.href = "/controlskip/" + board_index + "";
                }
            },
            add: function (e, data) {
                $$("#id_vedio_name").html(data.files[0].name);
                $$("#submitvedio").unbind("click");
                $$("#submitvedio").click(function () {
                    var intro = $$("#introduction_vedio");
                    var board = $$("#vedio_board_id");
                    if(intro.val().length!=0){
                         data.formData = {introduction: intro.val(), board_id: board.val()};
                         data.submit();//上传文件
                    }
                    else{
                         alert("请描述视频");
                         return false;

                    }

                });
            },
            progressall: function (e, data) {//设置上传进度事件的回调函数
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $$('#progress_vedio .bar').css(
                        'width',
                        progress + '%'
                );
            }
        });
    });

</script>


