$def with (pins,presentuser,attentions,attentions_len,followds,followds_len,present_user_key)
<style>
    #down_menu_1 li {
        float: left;
        padding-left: 30px
    }

    body {
        margin: 0 auto;
        width: 1250px;
    }

    .pin {
        margin-bottom: 20px;
        border: 1px solid;
        border-color: #cccccc;
        padding: 10px;
        text-align: center;
    }

    #scrollpaginationdemo .one {
        float: left;
        margin-left: -39px;
    }

    .span3 {
        list-style: none;
    }

    #scrollpaginationdemo .one li {
        list-style: none;
        margin-top: 30px
    }
</style>
<link rel="stylesheet" href="/static/css/jquery.fileupload-ui.css">
<script src="/static/js/jquery.ui.widget.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script src="/static/js/jquery.imgreview.js"></script>

<div style="margin-left:45px">
    <div class="navbar">
        <table style="border:1px solid gray">
            <tr>
                <td align="center" style="padding-left:20px">
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <button class="btn" style="border-radius: 0px 0px 0px 0px;"><i style="height:20px"
                                                                                           class="icon-align-justify"></i>
                            </button>
                        </a>
                        <ul id="down_menu_1" class="dropdown-menu" role="menu" aria-labelledby="dLabel"
                            style="width:520px">
                            <li><a tabindex="1" href="/controlskip/1">校外教育</a></li>
                            <li><a tabindex="2" href="/controlskip/2">远程办公</a></li>
                            <li><a tabindex="3" href="/controlskip/3">智慧之门</a></li>
                            <li><a tabindex="4" href="/controlskip/4">美容美体</a></li>
                            <li><a tabindex="5" href="/controlskip/5">情感天地</a></li>
                            <li><a tabindex="6" href="/controlskip/6">健康管理</a></li>
                            <li><a tabindex="7" href="/controlskip/7">娱乐人生</a></li>
                            <li><a tabindex="8" href="/controlskip/8">家政辅导</a></li>
                            <li><a tabindex="9" href="/controlskip/9">购物天堂</a></li>
                            <li><a tabindex="10" href="/controlskip/10">职业生涯</a></li>
                            <li><a tabindex="11" href="/controlskip/11">社区服务</a></li>
                            <li><a tabindex="12" href="/controlskip/12">公共信息</a></li>
                        </ul>
                    </div>
                </td>
                <td align="center" style="padding-left:10px;padding-top:20px;width:600px">
                    <div>
                        <form action="/search/content" method="post" onsubmit="return checkmessage()">
                            <input id="search_cont" style="width:300px; margin-top: 4px" type="text"
                                   class="search-query" placeholder="搜索"
                                   name="content_search">
                            <button type="submit" class="btn btn-info"
                                    style="float: right;border-radius: 0px 0px 0px 0px;">搜索
                            </button>
                        </form>
                    </div>
                </td>
                <td style="width:820px"></td>
                <td>
                    <a href="/modify/usermessage/$presentuser['user']['key']" target="_blank" class="btn btn-info"
                       style="width:90px;border-radius: 0px 0px 0px 0px;">账号设置</a>
                </td>
                <td>
                    <a href="/skipmainpage">
                        <button style="width: 90px; margin-left: 10px; margin-top: 5px;border-radius: 0px 0px 0px 0px;"
                                class="btn">返回主页
                        </button>
                    </a>
                </td>
                <td align="center" style="padding-right:20px">
                    <div style="float:left;" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <button class="btn btn-info" style="border-radius: 0px 0px 0px 0px;"><i style="height:20px;"
                                                                                                    class="icon-plus"></i>
                            </button>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>
                                <a href="#add_new" data-toggle="modal" data-target="#add_new">上传素材</a>
                                <a href="#add_new_vedio" data-toggle="modal" data-target="#add_new_vedio">上传视频</a>
                            </li>
                        </ul>
                        <div id="add_new" class="modal hide fade">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h3>新建素材</h3>
                            </div>
                            <form id="upload_pin" action="" enctype="multipart/form-data" method="POST">
                                <div class="modal-body">
                                    <div style="padding-bottom: 20px;">

                                        <input type="file" class="input" id="upload_pic" name="upload_pic"/>
                                    </div>
                                    <div style="padding-bottom: 20px;" id="id_file_name">

                                    </div>
                                    <!-- 进度条 -->
                                    <div id="progress_pic" class="progress progress-striped active">
                                        <div class="bar"></div>
                                    </div>
                                    <textarea rows="0" style="width: 420px" id="introduction_pic" name="introduction"
                                              onKeyDown="textCounter(introduction,remLen,250);"
                                              onKeyUp="textCounter(introduction,remLen,250);"></textarea>

                                    <p>
                                        <font color="red" size="2px">还可输入:</font>
                                        <input name="remLen" type="text" value="250" size="5" readonly="readonly"
                                               style="width:25px;height:10px">
                                        <font color="red" size="2px">个字符</font>
                                    </p>
                                    <select name="board_id" id="pin_board_id">
                                        <option>校外教育</option>
                                        <option>远程办公</option>
                                        <option>智慧之门</option>
                                        <option>美容美体</option>
                                        <option>情感天地</option>
                                        <option>健康管理</option>
                                        <option>娱乐人生</option>
                                        <option>家政辅导</option>
                                        <option>购物天堂</option>
                                        <option>职业生涯</option>
                                        <option>社区服务</option>
                                        <option>公共信息</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">关闭</a>
                                    <button id="submitdata" type="button" class="btn btn-primary">创建</button>
                                </div>
                            </form>
                        </div>

                        <div id="add_new_vedio" class="modal hide fade">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h3>上传视频</h3>
                            </div>
                            <form id="uploadvedio" action="/video/upload" enctype="multipart/form-data" method="POST">
                                <div class="modal-body">
                                    <div style="padding-bottom: 20px;">
                                        <input type="file" class="input" id="upload_vedio" name="upload_video"
                                               style="width:180px"/>
                                        <span><font color="red" size="2px">**视频支持flv/mp4格式！</font></span>
                                    </div>
                                    <div style="padding-bottom: 20px;" id="id_vedio_name">
                                    </div>
                                    <!-- 进度条 -->
                                    <div id="progress_vedio" class="progress progress-striped active">
                                        <div class="bar"></div>
                                    </div>
                                    <textarea rows="0" style="width: 420px" name="introduction" id="introduction_vedio"
                                              onKeyDown="textCounter(introduction,remLen,250);"
                                              onKeyUp="textCounter(introduction,remLen,250);"></textarea>

                                    <p>
                                        <font color="red" size="2px">还可输入:</font>
                                        <input name="remLen" type="text" value="250" size="5" readonly="readonly"
                                               style="width:25px;height:10px">
                                        <font color="red" size="2px">个字符</font>
                                    </p>
                                    <select name="board_id" id="vedio_board_id">
                                        <option>校外教育</option>
                                        <option>远程办公</option>
                                        <option>智慧之门</option>
                                        <option>美容美体</option>
                                        <option>情感天地</option>
                                        <option>健康管理</option>
                                        <option>娱乐人生</option>
                                        <option>家政辅导</option>
                                        <option>购物天堂</option>
                                        <option>职业生涯</option>
                                        <option>社区服务</option>
                                        <option>公共信息</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">关闭</a>
                                    <button id="submitvedio" type="button" class="btn btn-primary">创建</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="background-image:url('./static/img/portrait.png');background-repeat:no-repeat;width:100px;height:100px; margin-bottom: 12px;">
    <img style="width:100px;height:100px" src="http://192.168.1.165:8080/attachments/avatar_small/$:present_user_key"/>
</div>
<!--div  id="reviewContent" style="border:solid 1px red;position:absolute;width:100px;height:100px;top:96px"></div>
<div>
    <form name="form1" id="form1">
       <div id="demo" style="height: 20px;">
       <!--input type="file " id="upload_portrait"name="upload_portrait"/>
       <input style="width: 59px;" type="button" value="上传头像" class="btn" onclick="upload_portrait.click()"/><br>
        <input type="file" class=" input" style="display:none" id="upload_portrait"name="upload_portrait" target="#reviewContent" />
           <button id="submitportrait" type="button" class="btn "style="width: 54px; margin-top: -46px; margin-left: 60px;">创建</button>
       </div>
    </form>
</div-->
<div class="bs-docs-example">
    <ul id="myTab" class="nav nav-tabs">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">我的发布 <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#dropdown1" data-toggle="tab">图片</a></li>
                <li><a href="#dropdown2" data-toggle="tab">文字</a></li>
                <li><a href="#dropdown3" data-toggle="tab">资源</a></li>
            </ul>
        </li>
        <li class="active"><a href="#home" data-toggle="tab">我的消息</a></li>
        <li><a href="#profile1" data-toggle="tab">关注的人</a></li>
        <li><a href="#profile2" data-toggle="tab">粉丝</a></li>
        <li><a href="#profile3" data-toggle="tab">更多</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">

        </div>
        <div class="tab-pane fade" id="profile1">
            <h4>关注列表:</h4>

            <div class="span3">
                $for i in range(attentions_len):
                $:attentions[i]
            </div>
        </div>
        <div class="tab-pane fade" id="profile2">
            <h4>粉丝列表:</h4>

            <div class="span3">
                $for i in range(followds_len):
                $:followds[i]
            </div>
        </div>
        <div class="tab-pane fade" id="profile3">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid</p>
        </div>
        <div class="tab-pane fade" id="dropdown1">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span3" id="col1">
                        $for pin in pins[0]:
                        $:pin
                    </div>
                    <div class="span3" id="col2">
                        $for pin in pins[1]:
                        $:pin
                    </div>
                    <div class="span3" id="col3">
                        $for pin in pins[2]:
                        $:pin
                    </div>
                    <div class="span3" id="col4">
                        $for pin in pins[3]:
                        $:pin
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="dropdown2">
            <p>演示2 </p>
        </div>
        <div class="tab-pane fade" id="dropdown3">
            <p>演示3</p>
        </div>
    </div>
</div>

<script type="text/javascript">

    function textCounter(field, countfield, maxlimit) {
        // 函数，3个参数，表单名字，表单域元素名，限制字符；
        if (field.value.length > maxlimit)
        //如果元素区字符数大于最大字符数，按照最大字符数截断；
            field.value = field.value.substring(0, maxlimit);
        else
        //在记数区文本框内显示剩余的字符数；
            countfield.value = maxlimit - field.value.length;
    }
    $$(function () {
        //文件上传地址
        var url = '/portrait/upload ';
        //初始化，主要是设置上传参数，以及事件处理方法(回调函数)
        $$('#upload_portrait').fileupload({
            autoUpload: false,//是否自动上传
            url: url,//上传地址
            dataType: 'json',
            maxNumberOfFiles: 1,
            done: function (e, data) {//设置文件上传完毕事件的回调函数
                alert("上传成功！");
            },
            fail: function (e, data) {
                if (data.jqXHR.status == 406) {
                    alert("仅支持上传MP4和FLV文件！");
                } else {
                    alert("上传成功！");
                }
            },
            add: function (e, data) {
                // $$("#id_vedio_name").html(data.files[0].name);
                $$("#submitportrait").unbind("click");
                $$("#submitportrait").click(function () {
                    // var intro = $$("#introduction_vedio");
                    //var board = $$("#vedio_board_id");
                    //data.formData = {introduction: intro.val(), board_id: board.val()};
                    data.submit();//上传文件
                });
            }
        });
    });

    $$(function () {
        //文件上传地址
        var url = '/pin/upload ';
        //初始化，主要是设置上传参数，以及事件处理方法(回调函数)
        $$('#upload_pic').fileupload({
            autoUpload: false,//是否自动上传
            url: url,//上传地址
            dataType: 'json',
            maxNumberOfFiles: 1,
            done: function (e, data) {//设置文件上传完毕事件的回调函数
                var board_index = $$("#pin_board_id").get(0).selectedIndex + 1;
                alert("上传成功！");
                window.location.href = "/controlskip/" + board_index + "";
            },
            fail: function (e, data) {
                if (data.jqXHR.status == 406) {
                    alert("仅支持上传MP4和FLV文件！");
                } else {
                    var board_index = $$("#pin_board_id").get(0).selectedIndex + 1;
                    alert("上传失败！");
                    window.location.href = "/controlskip/" + board_index + "";
                }
            },
            add: function (e, data) {
                $$("#id_file_name").html(data.files[0].name);
                $$("#submitdata").unbind("click");
                $$("#submitdata").click(function () {
                    var intro = $$("#introduction_pic");
                    var board = $$("#pin_board_id");
                    var textval = $$("#introduction_pic").val();
                    if (textval.length != 0) {
                        data.formData = {introduction: intro.val(), board_id: board.val()};
                        data.submit();//上传文件
                    }
                    else {
                        alert("请描述图片");
                        return false;
                    }
                });
            },
            progressall: function (e, data) {//设置上传进度事件的回调函数
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $$('#progress_pic .bar').css(
                        'width',
                        progress + '%'
                );
            }
        });
    });
    function checkmessage() {

        var search_key = $$("#search_cont").val();
        if (search_key.length == 0) {
            alert("请输入搜索内容");
            return false;
        }

    }
    $$(function () {
        var page = 1;

        function columnAccumulator() {
            var col1_h = 0, col2_h = 0, col3_h = 0, col4_h = 0;
            col1_h = parseInt($$("#col1").height());
            col2_h = parseInt($$("#col2").height());
            col3_h = parseInt($$("#col3").height());
            col4_h = parseInt($$("#col4").height());
            return [col1_h, col2_h, col3_h, col4_h];
        }

        // return index
        function findMin(array) {
            var minID = 0;
            var minVal = array[0];
            for (var i = 1; i < array.length; i++) {
                if (array[i] < minVal) {
                    minID = i;
                    minVal = array[i];
                }
            }
            return minID;
        }
    });
    $$(function () {
        //文件上传地址
        var url = '/pin/upload ';
        //初始化，主要是设置上传参数，以及事件处理方法(回调函数)
        $$('#upload_pic').fileupload({
            autoUpload: false,//是否自动上传
            url: url,//上传地址
            dataType: 'json',
            maxNumberOfFiles: 1,
            done: function (e, data) {//设置文件上传完毕事件的回调函数
                var board_index = $$("#pin_board_id").get(0).selectedIndex + 1;
                alert("上传成功！");
                window.location.href = "/controlskip/" + board_index + "";
            },
            fail: function (e, data) {
                if (data.jqXHR.status == 406) {
                    alert("仅支持上传MP4和FLV文件！");
                } else {
                    var board_index = $$("#pin_board_id").get(0).selectedIndex + 1;
                    alert("上传成功！");
                    window.location.href = "/controlskip/" + board_index + "";
                }
            },
            add: function (e, data) {
                $$("#id_file_name").html(data.files[0].name);
                $$("#submitdata").unbind("click");
                $$("#submitdata").click(function () {
                    var intro = $$("#introduction_pic");
                    var board = $$("#pin_board_id");
                    var textval = $$("#introduction_pic").val();
                    if (textval.length != 0) {
                        data.formData = {introduction: intro.val(), board_id: board.val()};
                        data.submit();//上传文件
                    }
                    else {
                        alert("请描述图片");
                        return false;
                    }
                });
            },
            progressall: function (e, data) {//设置上传进度事件的回调函数
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $$('#progress_pic .bar').css(
                        'width',
                        progress + '%'
                );
            }
        });
    });
</script>


