$def with (pins,presentuser,attentions,attentions_len)
<style>
#down_menu_1 li{

float:left;
padding-left:30px


}
body{
	
	
	margin:0 auto;
	
	width:1250px;

}

.pin
{
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #cccccc;
    padding: 10px;
    text-align: center;
}

#scrollpaginationdemo .one{

float:left;
  margin-left: -39px;
 

}
.span3{
list-style:none;


}
#scrollpaginationdemo .one li{
list-style:none;
 margin-top:30px

}
#profile1{



        border:1px gray solid;
		margin:20px auto;
		width:600px;
        
		
		-webkit-box-shadow:2px 2px 20px #888;
		box-shadow:3px 4px 8px gray;
	
		
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
		
		-webkit-box-shadow:2px 2px 20px #888;
		-moz-box-shadow:2px 2px 20px #888;


}
</style>


<div style="margin-left:45px" >
    <div class="navbar">
		<table style="border:1px solid gray">
			<tr>
							
			    <td align="center" style="padding-left:20px">
					<div  class="dropdown">
											
					    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <button  class="btn" ><i style="height:20px" class="icon-align-justify"></i></button>
                        </a>
						<ul id="down_menu_1" class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="width:520px">
								
							 <li><a tabindex="-1" href="#">最新动态</a></li>
							        <li><a tabindex="-1" href="/controlskip/1">校外教育</a></li>
							        <li><a tabindex="-1" href="/controlskip/8">家政辅导</a></li>
							        <li><a tabindex="-1" href="/controlskip/10">职业生涯</a></li>
							        <li><a tabindex="-1" href="#">我的云盘</a></li>
							        <li><a tabindex="-1" href="/controlskip/7">娱乐人生</a></li>
							        <li><a tabindex="-1" href="/controlskip/9">购物天堂</a></li>
							        <li><a tabindex="-1" href="/controlskip/2">远程办公</a></li>
							        <li><a tabindex="-1" href="#">移动应用</a></li>
							        <li><a tabindex="-1" href="/controlskip/10">职业生涯</a></li>
							        <li><a tabindex="-1" href="/controlskip/3">智慧之门</a></li>
							        <li><a tabindex="-1" href="/controlskip/11">社区服务</a></li>
							        <li><a tabindex="-1" href="#">下载专区</a></li>
							        <li><a tabindex="-1" href="/controlskip/12">公共信息</a></li>
							        <li><a tabindex="-1" href="/controlskip/4">美容美体</a></li>
							        <li><a tabindex="-1" href="/controlskip/5">情感天地</a></li>
						</ul>				
					</div>		
			    </td>			 			
				<td align="center" style="padding-left:10px;padding-top:20px">
                    <input   class="span2" style="width:200px" type="text"  placeholder="Search"></td>
                <td ><button  style="width: 56px; margin-left: 10px; margin-top: 9px;" class="btn" >搜索</button></td>
	            <td style="width:820px"></td>
                <td >
                    <a href="/skipmainpage"><button  style="width: 90px; margin-left: 10px; margin-top: 5px;" class="btn" >返回主页</button>
                    </a>
                </td>	
				<td align="center" style="padding-right:20px">		
				    <div  class="dropdown">	
					    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <button class="btn btn-info"><i style="height:20px"class="icon-plus"></i></button>
                        </a> 
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li>			
								<!-- Button to trigger modal -->

								<a href="#myModal" data-toggle="modal" data-target="#myModal">上传素材</a>
							</li>
						</ul>
                        
                        <div id="myModal" class="modal hide fade">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3>新建素材</h3>
                            </div>
                            <form id="upload_form" action="/pin/upload " enctype="multipart/form-data" method="POST">
                                <div class="modal-body">
                                    <div style="padding-bottom: 20px;">
                                        <input type="button" value="上传图片" class="btn" onclick="upload_pic.click()"/><br />
                                        <input type="file" class="hide input" id="upload_pic" name="upload_pic" />
                                    </div>
                                    <textarea rows="10" style="width: 420px" name="introduction"></textarea>
                                    <select name="board_id" >
                                                        <option>校外教育</option>
                                                        <option >远程办公</option>
					                                    <option >智慧之门</option>
						                                <option >美容美体</option>
						                                <option >情感天地</option>
                                                        <option>健康管理</option>
                                                        <option >娱乐人生</option>
					                                    <option >家政辅导</option>
						                                <option >购物天堂</option>
						                                <option >职业生涯</option>
                                                        <option >社区服务</option>
						                                <option >公共信息</option>
						
																																					
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">关闭</a>
                                    <button  id="submitdata" type="submit" class="btn btn-primary">创建</button>
                                </div>
                            </form>
                       </div>

					<!--div id="myModal" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3>Add a pin from your computer</h3>
					    </div>

					<div class="modal-body">
						<div class="bs-docs-example">
							<ul id="myTab1" class="nav nav-tabs">
															
								<li class="active"><a href="#home1" data-toggle="tab" >图片</a></li>
								<li><a href="#profile11" data-toggle="tab">文字</a></li>
								<li><a href="#profile22" data-toggle="tab">资源</a></li>
								<div style="float:left" id="myTabContent" class="tab-content">
									<div class="tab-pane fade in active" id="home1">
										<textarea  rows="3" cols="20" style="width:520px; height:130px">
										</textarea>
									</div>
								    <div class="tab-pane fade" id="profile11">
									    <textarea  rows="3" cols="20" style="width:520px; height:130px">
									    </textarea>
								    </div>
								    <div class="tab-pane fade" id="profile22">
									    <textarea  rows="3" cols="20" style="width:520px; height:130px">
									    </textarea>
								    </div>
												
								</div>
							</ul>
                       </div>
                    </div>
                <div class="modal-footer">
					<div  class="dropdown" style="float:left">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <button  class="btn btn-small" >选择分组</button>
                        </a>
						<ul id="down_menu_1" class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="width:520px">
							 <li><a tabindex="-1" href="#">最新动态</a></li>
							        <li><a tabindex="-1" href="/controlskip/1">校外教育</a></li>
							        <li><a tabindex="-1" href="/controlskip/8">家政辅导</a></li>
							        <li><a tabindex="-1" href="/controlskip/10">职业生涯</a></li>
							        <li><a tabindex="-1" href="#">我的云盘</a></li>
							        <li><a tabindex="-1" href="/controlskip/7">娱乐人生</a></li>
							        <li><a tabindex="-1" href="/controlskip/9">购物天堂</a></li>
							        <li><a tabindex="-1" href="/controlskip/2">远程办公</a></li>
							        <li><a tabindex="-1" href="#">移动应用</a></li>
							        <li><a tabindex="-1" href="/controlskip/10">职业生涯</a></li>
							        <li><a tabindex="-1" href="/controlskip/3">智慧之门</a></li>
							        <li><a tabindex="-1" href="/controlskip/11">社区服务</a></li>
							        <li><a tabindex="-1" href="#">下载专区</a></li>
							        <li><a tabindex="-1" href="/controlskip/12">公共信息</a></li>
							        <li><a tabindex="-1" href="/controlskip/4">美容美体</a></li>
							        <li><a tabindex="-1" href="/controlskip/5">情感天地</a></li>
							</ul>				
					</div>		
					<!--button class="btn btn-small" type="button">上传</button>
					<input type="file" name="上传" placeholder=" Please choose a file. "> 
					<button class="btn btn-small" type="button"> 发布</button>
					<button class="btn btn-small" type="button">取消</button>
                </div>
		    </div>
        </div-->
       </td>
    </tr>
  </table>
</div>	
				

	<div class="bs-docs-example">
		<ul id="myTab" class="nav nav-tabs">
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">我的发布 <b class="caret"></b></a>
			    <ul class="dropdown-menu">
				    <li><a href="#dropdown1" data-toggle="tab" id="get_own_pin">图片</a></li>
				    <li><a href="#dropdown2" data-toggle="tab">文字</a></li>
				     <li><a href="#dropdown3" data-toggle="tab">资源</a></li>
			    </ul>
		 	</li>
			<li class="active"><a href="#home" data-toggle="tab">我的消息</a></li>
		 	<li id="myfollow"><a href="#profile1" data-toggle="tab" >关注的人</a></li>
			<li><a href="#profile2" data-toggle="tab">粉丝</a></li>
	 		<li><a href="#profile3" data-toggle="tab">更多</a></li>
														  
		</ul>
		<div id="myTabContent" class="tab-content">
			 <div class="tab-pane fade in active" id="home">
			    <p>未加工的</p>
			 </div>
			<div  class="tab-pane fade" id="profile1">
                <h4>关注列表:</h4>
               $for i in range(attentions_len):
                    $:attentions[i]
                $for i in range(attentions_len): 
                    
                   
			</div>
			<div class="tab-pane fade" id="profile2">
				<p>演示1</p>
			</div>
			 <div class="tab-pane fade" id="profile3">
				<p>演示2</p>
			</div>
			<div class="tab-pane fade" id="dropdown1">
	            <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span3" id="col1">
                              $for pin in pins[0]:
                                $:pin
                        </div>
                        <div class="span3" id="col2">   
                              $for pin in pins[1]:
                                $:pin
                        </div>
                        <div class="span3" id="col3">
                             $for pin in pins[2]:
                                $:pin
                        </div>
                        <div class="span3" id="col4">
                             $for pin in pins[3]:
                             $:pin
                        </div>
                    </div>
                </div>
		    </div>

			<div class="tab-pane fade" id="dropdown2">
				<p>演示3</p>
			</div>
			<div class="tab-pane fade" id="dropdown3">
				<p>演示4</p>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
\$(function()
{

var page = 1;


  /* \$("#myfollow").click(function(){


           \$.get("/myattention/person",
            
                {},
              function(data,textStatus){

               
                  eval("var attentions = " + data + ";");
                
                    //alert(attentions["attentions"]);
                
     
                   for (var i = 0; i < attentions["attentions"].length; i++)
                    {
                       
                        var jhtml = \$(attentions['attentions'][i]);
                        \$("#profile1").append(jhtml);
                    }




                });



        })*/







    function columnAccumulator()
    {
        var col1_h = 0,
            col2_h = 0,
            col3_h = 0,
            col4_h = 0;

        
         col1_h=parseInt(\$("#col1").height());
         col2_h=parseInt(\$("#col2").height());
         col3_h=parseInt(\$("#col3").height());

         col4_h=parseInt(\$("#col4").height());

        return [col1_h, col2_h, col3_h, col4_h];
    }

    // return index
    function findMin(array)
    {
        var minID = 0;
        var minVal = array[0];
        for (var i = 1; i < array.length; i++)
        {
            if (array[i] < minVal)
            {
                minID = i, minVal = array[i];
            }
        }
        return minID;
    }


  /* \$("#get_own_pin").click(function(){

           
           \$.get("/ownpin/show",
    
                {},
                    

               function(data,textStatus){
        
                     // alert(textStatus);
                     
                    eval("var json = " + data + ";");
                    
                   
                 
                    for (var i = 0; i < json.pins.length; i++)
                    {

                        
                        size = columnAccumulator();
                        
                        var column = findMin(size) + 1;

                        var jhtml = \$(json.pins[i]);
                         
                        \$("#col" + column).append(jhtml);
                    }
        
               }

        );


        })*/
});
</script>

